


.header {
	font-family: georgia, times, "Times New Roman"; 
	font-size: 25px;
	letter-spacing: .10em; 
	line-height: .10em;
	color: white;
	background: #4b6184;
	text-align: center; 
	

	border: 10px none black;
	padding: 50px 50px 50px 50px;
	margin: 0 auto; 
	width: 90%;
	border-radius: 10px;

	

	
}


.total {
	border: 2px solid #405b84;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	width: 100%;
	background: #d3dae5; 


}


/*.content {
	border: 2px solid black;
	margin: 0 auto; 
	padding: 10px 160px 10px 160px;
	text-align: center; 
	margin: 10px 400px 0px 400px;
	font-size: 15px;
	overflow: auto; 
	


}*/

ul {
	border: 0px solid black;
	background: white;
	margin: 0 auto; 
	padding: 10px 160px 10px 160px;
	text-align: center; 
	/*margin: 10px 400px 0px 400px;*/
	margin: 25 auto 25 auto;
	font-size: 20px;
	overflow: auto; 
	width: 25%;
	border-radius: 15px; 




}

li {

	display: inline;
	
}

#title {
	font-size: 22px;
}

#footer {

	margin: 10 auto 10 auto;
	text-align: center;


}

p {
	margin: 10px 150px 25px 150px;
	text-align: justify;
	color: black;
	line-height: 1.5em; 
	font-size: 16px;
}

a {
	color: #16a9bc;
}

a:hover {
	color: maroon;
}

img {
	float: left;
	padding: 0px 20px 20px 20px;
	
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Georgia, Times, "Times New Roman";
  width: 35%;
  border-radius: 15px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;


}


.navbar a {
  float: left;
  font-size: 20px;
  color: #16a9bc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px; 
 
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 15px; 

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px; 
  border: none;
  outline: none;
  color: #16a9bc;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: turquoise;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}
