
p {

	margin: 5% 12% 5% 12%; 
	text-align: justify;
	color: black;
	line-height: 1.5em; 
	font-size: 16px;

	min-width: 500px; 
}

a {
	color: #16a9bc;
}

a:hover {
	color: maroon;
}

img {
	float: left;
	padding: 0% 3% 0% 3%;
	
}

ul {
	list-style-type: none; 
}



.header {
	font-family: georgia, times, "Times New Roman"; 
	font-size: 25px;
	letter-spacing: .10em; 
	line-height: .10em;
	color: white;
	background: #4b6184;
	text-align: center; 
	

	border: 10px none black;
	border-radius: 10px;
	padding: 3%;
	margin: 0 auto; 
	width: 90%;
	min-width: 500px; 

	
		
}


.total {
	border: 2px solid #405b84;
	padding: 2%;
	margin: 0 auto;
	width: 100%;
	background: #d3dae5; 
	min-width: 500px; 


}






#entire-menu .submenu {
	display: none; 
	position: absolute;
	font-size: 100px;
}

.submenu {
	display: none; 
	}

#entire-menu .submenu li {
	display: block; 
}


#menu li {
	float: left;
	position: relative;

}

#menu li:hover .submenu {
	display: block; 
}










#title {
	font-size: 22px;
}

#footer {

	margin: 10 auto 10 auto;
	text-align: center;


}









 







